.app-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0 auto;
    width: 520px;
    padding-top: 40px;
}

.card {
    position: relative;
    padding: 20px;
    gap: 20px;
    background: var(--color-bg-default);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 8px solid var(--Card-Border, rgba(255, 255, 255, 0.3));

    .card-title {
        width: 100%;
        text-align: center;
        font-size: var(--font-size-small);
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 0.08rem;
        color: var(--color-text-light);
    }
}

.card-wrapper::before {
    content: "";
    position: absolute;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    border-radius: calc(2rem + 8px);
    background: rgba(255, 255, 255, 0.2);
    z-index: -1;
    backdrop-filter: blur(6px);
}

.seperator {
    width: 100%;
    border: 1px solid var(--color-border-default);
}

.total-expense-title {
    font-family: "Instrument Serif", serif;
    font-size: var(--font-size-display);
    color: var(--color-brand);
}

.btn {
    display: flex;
    width: 100%;
    padding: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 2px solid #66bc24;
    background: #67cd19;
    box-shadow: 0 12px 16px 2px rgba(83, 183, 5, 0.2);
    color: #fff;
    font-size: 0.875rem;
    font-weight: 800;
    letter-spacing: 0.132rem;
    cursor: pointer;
}

.progress-bar-container {
    width: 100%;

    .bar {
        height: 8px;
        background: var(--color-border-default);
        border-radius: 999px;
    }

    .bar-info {
        display: flex;
        justify-content: space-between;
        font-size: var(--font-size-small);
        font-weight: 600;
        letter-spacing: 0.08rem;
        text-transform: capitalize;
        color: var(--color-text-light);
        margin-top: 8px;
    }
}

.card-add-expense {
    position: relative;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;

    .input-wrapper {
        display: flex;
        flex-direction: column;
        gap: 4px;
        width: 100%;

        label {
            font-size: var(--font-size-small);
            font-weight: 600;
            color: var(--color-text-default);
        }

        input {
            padding: 12px 16px;
            border: 1px solid var(--color-border-default);
            border-radius: 8px;
            background-color: white;
            font-size: var(--font-size-default);
            color: var(--color-text-default);

            &::placeholder {
                color: var(--color-text-light);
            }

            &:focus {
                outline: 1.5px solid var(--color-bg-brand);
                outline-offset: 0px;
            }

        }
    }
}

.close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    right: -70px;
    width: 44px;
    height: 44px;
    border-radius: 999px;
    background: white;
    outline: 6px solid var(--Card-Border, rgba(255, 255, 255, 0.3));
    cursor: pointer;
}

.category-selector {
    border: none;

    .category-title {
        font-size: var(--font-size-small);
        font-weight: 600;
        margin-bottom: 4px;
    }

    .selector-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
        background-color: white;
        border: 1.5px solid var(--color-border-default);
        border-radius: 8px;
        margin: 0;
        padding: 12px;

        .radio-option {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 48px;
            min-height: 48px;
        }

        .radio-label {
            display: block;
            padding: 12px;
            border-radius: 8px;
            cursor: pointer;

            &:hover {
                background-color: var(--color-bg-default);
            }
        }

        .radio-label,
        .emoji {
            font-size: 20px;
            display: block;

        }

        .radio-input {
            position: absolute;
            left: -9999px;
            opacity: 0;
            width: 1px;
            height: 1px;

            &:checked+.radio-label {
                background-color: var(--color-bg-default);
                outline: 1.5px solid #dcf2cb;
            }

            &:focus+.radio-label {
                outline: 2px solid #dcf2cb;
                outline-offset: 2px;
            }
        }
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}


.card-hidden {
    display: none !important;
}

.card-visible {
    display: flex;
}

.expenses-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.expense-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size-default);
    color: var(--color-text-default);

    .expense-info {
        gap: 12px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .expense-name::first-letter {
        text-transform: capitalize;
    }

    .expense-category {
        font-size: 20px;
        padding: 12px;
        border-radius: 99px;
        background-color: var(--color-bg-brand-light);
    }
}